@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    font-family: 'Kanit', sans-serif;
    background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

h1{

    text-align: center;

    color: white;

    background-color: #383377;
}

.text{
    text-align: justify;
}

img{
    width: 200px;
}

h2{
    margin: 20px;
}

img{
    display: block; 
    height: 30%;
    width: 40%;

    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 50px;
}

img:hover{
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.text2{
    color: blue;
    background-color: gold;
}

h1{
    transition: all 1s ease;
}

h1:hover{
    text-align: center;
    background-color: black;
    font-size: 120%;
    cursor: pointer;
}